.bgred {
    background: #071c2c;
    padding: 20px;
    margin-top: 3.5em;
}


.txt-copy {

    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;

}
